body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background-color: #1d1f1c;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 5px solid #e3a72f;
}
h1 {
  margin: 0;
  font-size: 36px;
  letter-spacing: 2px;
}

.logo {
  max-width: 200px;
  margin: 0 auto;
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
#equipment-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.equipment-item {
  width: calc(50% - 10px);
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 1px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.equipment-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.equipment-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}
.equipment-item:hover .equipment-img {
  transform: scale(1.1);
}
.equipment-title {
  font-size: 24px;
  padding: 10px;
  text-align: center;
  background-color: #e3a72f;
  color: #333;
  letter-spacing: 1px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.equipment-item:hover .equipment-title {
  background-color: #333;
  color: #fff;
}
.call-button {
  font-size: 24px;
  display: block;
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.call-button:hover {
  background-color: #555;
}
.container p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}
#contact-form {
  text-align: center;
}
#contact-form input, #contact-form textarea, #contact-form button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}
.from_label {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}
.form {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}
.form_itom {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}
.checkbox {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}
#contact-form input:focus, #contact-form textarea:focus {
  outline: none;
  border-color: #333;
}
#contact-form button {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
#contact-form button:hover {
  background-color: #555;
}

.developer {
  border-top: 5px solid #e3a72f;
  background-color: #1d1f1c;
  color: #fff;
  padding: 20px;
  text-align: center;
  
}